body { 
  background: url( http://www.zingerbug.com/Backgrounds/background_images/blue_starry_sky_glitter_background_seamless.gif);
  Font-Family: "Cursive";
  color: White;
} 
.container{
margin-bottom: 20px
}
a{ 
color:white
}

h3{ 
margin-top: 20px
}
h3{
  margin-bottom: 20px
}
li {
  display:inline-block;
  margin-left:10px;
  text-decoration:none; 
  margin-right:20px;
}

a {text-decoration:none;
}

#menu{
  background:Black ;
    Padding:20px;  
}