@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{ background: url("https://headmasterrituals.files.wordpress.com/2013/08/what-do-you-know.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  Font-Family: Times New Roman;
  color: Black;
  text-align: center}

a {
  text-decoration: none;
  font-size: 100px;
  font-family: Open Sans;
  margin-right: 500px;
}
h2{ 
margin-right:500px;
}